.required-amount {
    -unity-text-align: upper-right;
    -unity-font-style: bold;
    font-size: 16px;
    position: relative;
    color: rgb(255, 255, 255);
}

.gemicon {
    flex-basis: 33.33%;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100px;
    background-size: 100%;
    margin-left: 6px;
    flex-wrap: wrap;
}
